* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

body {
  background-image: url(./bilder/background-img-startpage.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: "Goldman";
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.fifa {
  font-style: italic;
  text-align: center;
  color: goldenrod;
  font-size: 30px;
  border: hsl(43, 74%, 45%) 4px solid;
  background-color: blue;
  margin: 0;
  width: 350px;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  cursor: default;
  position: relative;
  top: 22px;
}

h1 {
  font-style: italic;
  text-align: center;
  color: red;
  border: red 2px solid;
  border-radius: 12px;
  border-left: 1px;
  border-right: 1px;
  font-size: 190px;
  background: -webkit-linear-gradient(goldenrod, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  /* width: 760px; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  cursor: default;
}

.rights {
  font-style: italic;
  text-align: center;
  color: goldenrod;
  font-size: 28px;
  border: hsl(43, 74%, 45%) 4px solid;
  background-color: blue;
  border-radius: 12px;
  margin: 0;
  /* width: 710px; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  cursor: default;
  margin-bottom: 40px;
  position: relative;
  top: -22px;
}

marquee {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  /* position: absolute; */
  height: 200px;
  width: 300px;
  /* transform: translate(312%); */
}

.continue {
  /* position: absolute; */
  font-size: 45px;
  font-style: italic;
  animation: blinker 1s linear infinite;
  cursor: pointer;
  width: 300px;
  text-align: center;
  padding-top: 30px;
}

footer {
  position: absolute;
  bottom: 10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .soccer {
    font-size: 60px;
  }
}

/*.bg-img {
  background-image: url(./bilder/background-img-startpage.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  filter: brightness(50%);
}
*/
