* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

body {
  background-image: url(./bilder/background-img-startpage.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: "Goldman";
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

audio {
  width: 100px;
  margin: -21px;
}

.fifa {
  font-style: italic;
  text-align: center;
  color: goldenrod;
  font-size: 30px;
  border: hsl(43, 74%, 45%) 4px solid;
  background-color: blue;
  border-radius: 12px;
  margin: 0;
  width: 350px;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  cursor: default;
  position: relative;
  top: 22px;
}

h1 {
  font-style: italic;
  text-align: center;
  color: red;
  border: red 2px solid;
  border-radius: 12px;
  border-left: 1px;
  border-right: 1px;
  font-size: 190px;
  background: -webkit-linear-gradient(goldenrod, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  /* width: 760px; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  cursor: default;
}

.rights {
  font-style: italic;
  text-align: center;
  color: goldenrod;
  font-size: 28px;
  border: hsl(43, 74%, 45%) 4px solid;
  background-color: blue;
  border-radius: 12px;
  margin: 0;
  /* width: 710px; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  cursor: default;
  margin-bottom: 40px;
  position: relative;
  top: -22px;
}

marquee {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  margin-top: -40px;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  /* position: absolute; */
  height: 200px;
  width: 300px;

  /* transform: translate(312%); */
}

.continue {
  /* position: absolute; */
  font-size: 45px;
  font-style: italic;
  animation: blinker 1s linear infinite;
  cursor: pointer;
  width: 300px;
  text-align: center;
  padding-top: 30px;
}

@media screen and (min-width: 920px) {
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 160px;
    border: red 3px solid;
    border-left: 1px;
    border-right: 1px;
  }
}

@media screen and (max-width: 775px) {
  h1 {
    font-size: 120px;
    border-left: 1px;
    border-right: 1px;
  }
  .rights {
    font-size: 23px;
  }
  .fifa {
    font-size: 23px;
  }
  .continue {
    padding-top: 150px;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 100px;
    border: 3px red solid;
  }
  .rights {
    font-size: 20px;
  }
  .fifa {
    font-size: 20px;
  }
  .continue {
    padding-top: 180px;
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 75px;
    border: red solid 3px;
  }
  .rights {
    font-size: 14px;
  }
  .fifa {
    font-size: 14px;
  }
  .continue {
    padding-top: 380px;
    font-size: 40px;
  }

  audio {
    height: 20px;
  }

  marquee {
    display: none;
  }

  .wrapper {
   /*lägg till en transparent bild* - HJÄLP/
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*.bg-img {
  background-image: url(./bilder/background-img-startpage.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  filter: brightness(50%);
}
*/
